{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>AI</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<link href="{% static 'assets/css/upload.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- ======= Header ======= -->
<header id="header">
    <div class="container">
  
      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#intro">The<span>Event</span></a></h1>-->
        <a href="{% url 'home' %}" class="scrollto"><i class="fas fa-infinity"></i> IMAGE ALTRATION DETECTOR</a>
      </div>
  
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'upload_with_image' image.id %}">Upload</a></li>
          <li><a href="{% url 'home' %}">About</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

<!-- ======= Intro Section ======= -->
<section id="intro" data-aos="zoom-out">
    <div class="container justify-content-center" data-aos="zoom-out" data-aos-delay="100">

        <!-- <div class="row justify-content-center">
        <div class="head col text-center">
            <h3 class="head-text mx-auto">METADATA</h3>
        </div>
        </div> -->


        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card text-center">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="container-fluid">
                        <div class="card-body">
                            {% if image %}
                            <h1 class="card-title text-center title head-text">AI</h1>
                            <img class="mt-3 col-lg-7 col-md-7 col-sm-7 col-xs-5 img" src="{{ image.image.url }}"
                                alt="{{ image.image.url }}">
                            {% else %}
                            <h1 class="card-title text-center title">No Image</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="card text-center">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="container-fluid">
                        <div class="card-body">
                            {% if image %}
                            <h1 class="card-title text-center title head-text">RESULT</h1>
                                {% if prediction == 'Fake' %}
                                <img class="mt-3 col-lg-7 col-md-7 col-sm-7 col-xs-5 img" src="{% static 'assets/img/fake.png' %}"
                                    alt="{{ image.image.url }}">
                                {% else %}
                                <img class="mt-3 col-lg-7 col-md-7 col-sm-7 col-xs-5 img" src="{% static 'assets/img/real.png' %}"
                                    alt="{{ image.image.url }}">
                                {% endif %}
                            {% else %}
                            <h1 class="card-title text-center title">No Image</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col text-center mt-2">
            <div class="alert alert-{{ color_theme }}" role="alert">
                The AI is {{ prediction_rate }}% Sure!
            </div>
        </div>

    </div>

    

</section><!-- End Intro Section -->

{% endblock %}